.venv/
.env
__pycache__/
Qwen2.5-VL-7B-Instruct/

raw_jsons/
json_embeddings/
runs/
layout_engine/input_json/
tmp/*.json
gnn_layout/*.json
gnn_layout/*.pt
gnn_layout/*.jsonl

gnn_layout/data/

layout_transformer/checkpoints/
layout_transformer/data/
layout_transformer/previews/

layout_transformer_v2/checkpoints

layout_transformer_v2/data/dataset

layout_transformer_v2/previews
layout_transformer_v2/data/prototypes
